*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
