*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gunmetal: #222831;
  --gunmetal-light: #31363f;
  --verdigris: #76abae;
  --antiflash-white: #eeeeee;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gunmetal);
  color: var(--antiflash-white);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
