*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red-pantone: #e63946;
  --honeydew: #f1faee;
  --non-photo-blue: #a8dadc;
  --cerulean: #457b9d;
  --berkeley-blue: #1d3557;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--berkeley-blue);
  color: var(--honeydew);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
