*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: darkslategrey;
  color: white;
  text-shadow: 1px 1px 0 black;
}

main {
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: 44px;
  height: 100vh;
}

.info {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 720px;

  & > p {
    font-size: 22px;
  }

  & > img {
    order: -1;
    max-width: 240px;
  }
}
