.header {
  padding: 40px 0 60px;
}

.header__title {
  text-align: center;
  font-size: 44px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
  padding: 0 8px;
}

.form__input {
  border: 0;
  border-radius: 4px;
  padding: 0 8px;
  width: 100%;
  max-width: 312px;
  background-color: #3b3b3b;
  color: inherit;
  font: inherit;
  text-transform: capitalize;
}

.error-message {
  margin: 20px 0;
  color: #db8480;
  font-weight: 500;
  text-align: center;
}

.movies-wrapper {
  padding: 0 32px;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 50px;
  }
}
