*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  background-color: #355070;
  font-family: system-ui, sans-serif;
  color: rgb(247 225 215 / 88%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

picture {
  display: flex;
}

#app {
  margin: 0 auto;
  padding-bottom: 52px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3b3b3b;
  color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #86589d;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button:disabled:hover {
  border-color: transparent;
}
